<!-------------------------------------FOURTH CARD------------------------------------------------------->
<div class="container" id="fourthcard">
    <div class="row justify-content-between">
      <div class="col-4">
        <h3 class="title">Hard & Soft Skills</h3>
      </div>
      <div class="col-4">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row justify-content-between" >
      <div class="col-4"></div>
      <div class="col-4">
        <p style="text-align: center; margin: 10px 0px 3px;">Software Development</p>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="row justify-content-between">
      <div class="col-4"></div>
      <div class="col-4">
        <p style="text-align: center; margin: 10px 0px 3px;">Algorithm and Data Structures</p>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="row justify-content-between">
      <div class="col-4"></div>
      <div class="col-4">
        <p style="text-align: center; margin: 10px 0px 3px;">C++ Language</p>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="row justify-content-between">
      <div class="col-4"></div>
      <div class="col-4">
        <p style="text-align: center; margin: 10px 0px 3px;">Python Language</p>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>