.container{
    width: 100%;
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border: 3px solid grey;
    background-color: #dfdfdf;
    box-sizing: border-box
}
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar__logo{
    background-color: #ffffff;
    background-image: linear-gradient(to top, #ffffff 0%, #7a7a7a 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.fa-code{
    margin-right: 0.5rem;
}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.fa-linkedin-square{
    color: #fff;
}
.fa-linkedin-square:hover{
    color: #3f8bfc;
    transition: all 0.3s ease;
}
.navbar__item{
    height: 20px;
    margin-bottom: 20px;
}
.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.button:hover{
    background: #3f8bfc;
    color: #fff;
    transition: all 0.3s ease;
}
@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }
    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navbar__logo{
        padding-left: 25px;
    }
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar__item{
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__btn{
        padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}
.main{
    background-color: rgb(12, 12, 12);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.fa-pencil{
    float: right;
}
.fa-pencil:hover{
    color: #3f8bfc;
    transition: all 0.3s ease;
}
.main-banner{
    background: url('assets/img/bgpic.jpg');
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 220px;
    background-color: #3f8bfc;
    border-radius: 15px;
}
.img-banner{
    position: absolute;
}
.pfp{
    border-radius: 50%;
    position: absolute;
    width: 105px;
    height: 100px;
    top: 9rem;
    left: -0.2198rem;
}
.second-div{
    padding: 25px;
}
.log{
    position: absolute;
}
#div-desc{
    margin-top: -5rem;
}
.img-ref{
    float: right;
}
.img-navbar{
    width: 35px;
    height: 35px;
    margin-left: 5px;
}
.descrip-text{
    margin-left: 110px;
}

.progress{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.proy-text{
    margin-left: 70px;
    margin-right: 50px;
}
.text-grey{
    color: #909090;
    text-align: justify;
    padding: 0px 50px 0px 0px;
}