<!-------------------------------------------------THIRD CARD------------------------------------------------------->
<div class="container" id="thirdcard">
    <div class="row justify-content-between">
      <div class="col-4">
        <h3 class="title">Laboral Experience</h3>
      </div>
      <div class="col-4">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
    </div>
    <div class="cont-experience">
      <img class="log" src="assets/img/ubp.png" alt="logo-ubp" width="100">
      <div class="descrip-text">
        <div class="row justify-content-between">
          <div class="col-4">
            <h4>Front End / Back End experience at UBP</h4>
          </div>
        </div>
        <h6 class="text-grey">March 2022 - Present | 1 year of experience | Córdoba, Argentina</h6>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-4">
        <h3 class="title">Education</h3>
      </div>
    </div>
    <div class="cont-experience" style="margin-bottom: 30px;">
      <img class="log" src="assets/img/logo-savio.png" alt="logo-savio" width="95">
      <div class="descrip-text">
        <div class="row justify-content-between">
          <div class="col-4">
            <h4>Domingo Savio Salesian Institute</h4>
          </div>
        </div>                
        <h6 class="text-grey">2014 - 2020 || Social Sciences degree - Córdoba, Argentina</h6>
      </div>
      <div class="cont-experience">
        <img class="log" src="assets/img/ubp.png" alt="logo-ubp" width="100">
        <div class="descrip-text">
          <div class="row justify-content-between">
            <div class="col-4">
              <h4>Blas Pascal University</h4>
            </div>
          </div>              
          <h6 class="text-grey">2021 - 2025 || Informatic Engineer degree - Córdoba, Argentina</h6>
        </div>  
      </div>
    </div>
  </div>